<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FrontServlet</servlet-name>
        <servlet-class>etu1874.framework.servlet.FrontServlet</servlet-class>
        
        <init-param> 
            <param-name>packageName</param-name> 
            <param-value>test</param-value> 
            <description>Nom du package</description> 
        </init-param> 
        
        <init-param> 
            <param-name>isConnected</param-name> 
            <param-value>isConnected</param-value> 
            <description>key pour le hashmap qui determine si une personne est connecte</description> 
        </init-param>
        
        <init-param> 
            <param-name>profil</param-name> 
            <param-value>profil</param-value> 
            <description>key pour le hashmap qui determine le profil d'une personne</description> 
        </init-param>
        
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontServlet</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
